<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
