<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} 首页 {% endblock %} - nunjucks演示</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
{% block header %}{% endblock %}
<body>
{% block body %} {% endblock %}
</body>
</html>
